body {
    max-width: 100vw;
    font-family: "Inter";
}
html, body {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: inter;
    src: url(Fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: shree;
    src: url(Fonts/shreedev0714-bold-italic-webfont.ttf);
}

@font-face {
    font-family: mada;
    src: url(Fonts/Mada-Regular.ttf)
}
/* Til toppen knap starter her */
#myBtn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.35);
    outline: none;
    background-color: #ffffff;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtn:hover {
    background-color: #555;
}

.arrow-up {
    width: 30px;
    height: 30px;
}
/* Til toppen knap starter her */


/* Nyhedsbrev MAIN boks starter her */
.tilmeldboks1 {
    backdrop-filter: blur(10px);
    padding: 20px;
    width: 100%;
    color: rgb(0, 0, 0);  
}


/* Nyhedsbrev boks starter her */
.tilmeldboks {
    background-color: #94A195;
    padding: 20px;
    width: 100%;
    color: rgb(0, 0, 0);
}

.tilmeld {
    color: rgb(52, 52, 52);
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;  
}

.tilmeldknap {
    font-size: 16px;
}

label {
    color: rgb(103, 103, 103);
    font-size: smaller;
}

.input {
    border-radius: 10px;
} 
/* Nyhedsbrev boks slutter her */

input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #202020;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.textOs {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 10%;
    font-family: "Inter";
    text-align: left;
}

.forsideKvinde {
    height: 400px;
    overflow: hidden;
    object-fit: cover;
}
/* Nyhedsbrev boks slutter her */

/* Søge knappen i produktside starter */
.søgefeltproduktside {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.søgebar {
    width: 100%;
    max-width: 340px;
    background: rgba(40, 40, 40, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 6px 18px;
    backdrop-filter: blur(4px) saturate(100%);
}

.søgebar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 15px;
    font-size: 15;
    color: rgb(46, 46, 46);
    font-size: 15px;
}

::placeholder {
    color: rgba(115, 115, 115, 0.8)
}

.søgebar button {
    border: 0;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: none;
}

.søgeikon {
    width: 25px;
    height: 25px;
}
/* Søge knappen i produktside slutter */

/* Søge knappen starter */
.søgefelt {
    padding: 10px 20px;
    margin-bottom: 30px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
}

.søgebar {
    width: 100%;
    max-width: 340px;
    background: rgba(40, 40, 40, 0.2);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 6px 18px;
    backdrop-filter: blur(4px) saturate(100%);
}

.søgebar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 15px;
    font-size: 15;
    color: rgb(46, 46, 46);
    font-size: 15px;
}

::placeholder {
    color: rgba(115, 115, 115, 0.8)
}

.søgebar button {
    border: 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background: none;
}

.søgeikon {
    width: 25px;
    height: 25px;
}
/* Søge knappen slutter */


/* Footer - SOME starter her */

.sometitel {
    margin-top: 20px;
}

.somefooter img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.somefooter .somebilleder {
    text-align: center;
    line-break: 20px;
}

/* Footer - SOME sutter her */


/* Footer farver, text og position starter her */
footer {
    width: 100%;
    background-color: #1F2716;
    display: inline-block;
    position: relative;
    left: 0%;
    bottom: -100%;
    text-align: center;
}

.foot ul {
    color: white;
    line-height: 2;
    font-size: smaller;

}

.foot li {
    color: white;
}

.foot a {
    color: white;
}

.foot button {
    background-color: #1F2716;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
}

.foot {
    display: inline-block
} 

.kontakt {
    display: none;
    min-width: 100%;
    left: 0;
    background-color: #1F2716;
    padding: 10px;
}

.help {
    display: none;
    min-width: 100%;
    left: 0;
    background-color: #1F2716;
    padding: 10px;
}

.links {
    display: none;
    min-width: 100%;
    left: 0;
    background-color: #1F2716;
    padding: 10px;
}
/* Footer farver, text og position slutter her */




/* Billede SLIDER starter her */
.container2 {
    margin-top: -80px;
    margin-left: 0px;
    margin-right: 0px;
}

.container2 .wrapper {
    width: 100%;
    height: 400px;
    margin: 5rem auto;
    overflow: auto;
    align-items: center;
    
}

.container2 .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite
    alternate;
}

.container2 #slider-img-1 {
    background-image: url(img/bomuldsmark.jpg);
    background-position: center;
    background-size: cover;
}

.container2 #slider-img-2 {
    background-image: url(img/luis-quintero-3qqiMT2LdR8-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

.container2 #slider-img-3 {
    background-image: url(img/pexels-wladislawa-schröder-17963898.jpg);
    background-position: center;
    background-size: cover;
}

.container2 #slider-img-4 {
    background-image: url(img/green\ wood.png);
    background-position: center;
    background-size: cover;
}

.container2 .button-holder .button {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    display: inline-block;
    margin: .3rem;
}

.container2 .button-holder {
    position: absolute;
    left: 45%;
    bottom: 0%;
}

@keyframes slider {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}
/* Billede slider styling slutter */


/*En class tilføjet med JS for at vise og skjule menuen*/
.show {
    display: inline-block;
}

.kategori {
    margin-left: 7%;
    margin-top: 5%;
    margin-bottom: 3%;
}

.mestpopulære {
    margin-left: 7%;
    margin-bottom: 3%;
}



/*Katagorier forside sliders*/
.category {
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    padding-top: 2px;
    margin-bottom: 15%;
}

.popular {
    width: 100%;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    padding-top: 2px;
    margin-bottom: 15%;
}

.scroll {
    overflow-x: scroll;
    padding-right: 17px;
    display: flex;
    box-sizing: content-box;
}

.scroll::-webkit-scrollbar {
    display: none;
}

.scroll {
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
  }
  
.category img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 0.1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popular img {
    border-radius: 10px;
    margin-right: 7vw;
    margin-left: 7vw;
    margin-bottom: 0.1vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 90%;
}

.category p {
    font-family: "Inter";
    font-style: bold;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
}

.popular p {
    font-family: "Inter";
    font-style: bold;
    text-align: center;
    font-weight: bold;
    margin-left: 35px;
}

/*produkt side*/

/*bæredygtig logo*/
.dygtig {
    background-image: url(img/bæredygtgighed.png);
}

/*Container til hvert produkt laver flere med js*/
#hoodieProdukter {
    width: 100%;
    height: 100%;
}

/*Container til billede*/
.imgBox {
    width: 100%;
    height: 390px;
    font-family: "Inter";
}

.colorMore {
    position: relative;
    padding: 5px;
    top: -50px;
    left: 260px;
    background-color: #1F2716;
    width: 30%;
    height: 30px;
    border-radius: 10px; 
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.10), 0 5px 10px 0 rgba(0,0,0,0.10);
}

.colorMoreA {
    color: white;
    text-decoration: none;
    font-size: small;
}

.produktImg {
    align-self: center;
    width: 100%;
    height: auto;
}

/*Container til text under produkter*/

/*Table for at nemt bestemme text position*/
.textBox {
    position: relative;
    margin: auto;
    top: -15px;
    
}

.textBox table {
    width: 100%;
}

/*Text under produkt*/ 
#farve {
    text-align: left;
    font-weight: bolder;
}

#pris {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#okologi {
    text-align: left;
}

#sizes {
    text-align: right;
}
/**/


* {
    box-sizing:border-box
}

/* Carousel container */
.container {
    position: relative;
    margin: auto;
    height: 450px;
  }

.container img {
    object-fit: cover;
    width: 100%;
    height: 443px;
}

/* Hide the images by default */
.mySlides {
  display: none;

}

.cursor {
    cursor: pointer;
  }

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -35px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0%;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* produkt side filter */
.btncontainer {
    text-align: center;
    margin-top: 10px;
}

.filterContainer {
    overflow: hidden;
}

.showFilter {
    display: block;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  
  /* Add a light grey background on mouse-over */
  .btn:hover {
    background-color: #ddd;
  }
  
  /* Add a dark background to the active button */
  .btn.active {
    background-color: #1F2716;
    color: white;
  }

  .btnShopNOW {
    position: relative;
    top: -175px;
    left: 160px;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px;
  }