body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.navbar {
    width: 100%;
    max-height: 10vh;
    height: 10vh;
    box-shadow: 0px 4px 4px 0px  black;
    display: inline-block;
    left: 0%;
}

.navbar img {
    max-width: 20vw;
    max-height: 20vh;
    position: relative;
    margin-top: 4vh;
    margin-left: 2vw;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}

.container {
    float: right;
    height: 17px;
    margin-right: 3%;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo {
    height: 3px;
    width: 30px;
    background-color: black;
}

.menu {
    float: right;
    width: 50%;
    height: 60vh;
    background-color: #1F2716;
    padding: 25px;
    transform: translateX(130%) translateY(8.09vh);
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 6px 0;
    margin-bottom: 10px;
    text-align: left;
    font-family: mada;
}

.showmenu {
    transform: translateX(9vw) translateY(8.09vh);
}

.menu li: :last-child {
    border-bottom: none;
}

.menu li: :first-child a {
    font-weight: bold;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: font-weight 0.25;
}

@media screen and (min width: 1000px) {
    .menu{
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    .menu li a{
        font-size: 16px;
    }
}


/*Footer farver, text og position*/
footer {
    width: 100%;
    background-color: #1F2716;
    bottom: 0%;
    display: inline-block;
    position: absolute;
    left: 0%;
}

.foot ul {
    list-style-type: none;
    font-family: inter;
}

.foot li {
    color: white;
}

@font-face {
    font-family: inter;
    src: url(Fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: shree;
    src: url(Fonts/shreedev0714-bold-italic-webfont.ttf);
}

@font-face {
    font-family: mada;
    src: url(Fonts/Mada-Regular.ttf)
}


/*Footer dropmenu*/
.foot button {
    background-color: #1F2716;
    color: white;
    padding: 2%;
    border: none;
    cursor: pointer;
    margin-inline-start: 35%;
    width: 30%;
}

/*container til footer*/
.foot {
    display: inline-block;
}

/*container til kontakt info*/
.kontakt {
    display: none;
    position: relative;
    background-color: #1F2716;
    min-width: 100%;
    z-index: 3;
    margin-inline-start: 20%;
}

/*Alle links i footer*/
.foot a {
    color: white;
    text-decoration: none;
    font-family: inter;
    display: block;
}

.help {
    display: none;
    position: relative;
    background-color: #1F2716;
    min-width: 100%;
    z-index: 2;
    margin-inline-start: 20%;
}

.links {
    display: none;
    position: relative;
    background-color: #1F2716;
    min-width: 100%;
    z-index: 1;
    margin-inline-start: 20%;
}

/*En class tilføjet med JS for at vise og skjule menuen*/
.show {
    display: inline-block;
}

/*produkt side*/
.imgBox {
    border-style: solid;
}