* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Hoodies side */
.produktbillede {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    display: block;
    
}

.container h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;

}

.select-size span {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #1F2716;
    border-radius: 10px;
    margin: 1px 5px 5px;
}

.select-size span:hover {
    cursor: pointer;
    background: #1F2716;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #1F2716;
}

.select-color span {
    display: inline-block;
    margin: 10px 3px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    cursor: pointer;
    margin: 1px 5px 5px;
}

.color1 {
    background: #94A195;
}

.color2 {
    background: #878787;
}

.color3 {
    background: #141414;
}

.color4 {
    background: #e6e6e6;
}

.price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0px 5px;
}

.price p {
    font-size: 22px;
    font-weight: 500;
}

.tilføjknappen {
    text-decoration: none;
    font-size: 14px;
    padding: 12px;
    border-radius: 15px;
    color: #fff;
    background-color: #94A195;
}

.købnu {
    text-decoration: none;
    font-size: 14px;
    padding: 12px;
    border-radius: 15px;
    color: #fff;
    background-color: #94A195;
}

