

main {
    padding-left: 20px;
    padding-right: 20px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.tøjtitel {
    font-weight: 600;
}

h1 {
    font-size: larger;
    font-family: "Inter";
    margin-bottom: 10px;
}

h2 {
    font-size: small;
    margin-bottom: 15px;

}

h6 {
    font-size: small;
    padding-bottom: 15px;

}

div.bomuld {
    padding-bottom: 5px;
    font-size: small;
    margin-top: 0px;
}

h3 {
    font-size: small;
}

    @font-face {
        font-family: "Inter";
        src: url(Fonts/Inter-Regular.ttf);
    }




/* Størrelse og farve valg starter */
.select-size span {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #1F2716;
    border-radius: 10px;
    margin: 1px 5px 5px;
}

.select-size span:hover {
    cursor: pointer;
    background: #1F2716;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #1F2716;
}

.select-color {
    margin: 0;
    margin-top: -11px;
}

.select-color span {
    display: inline-block;
    margin: 10px 5px;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 30px;
    cursor: pointer;
}

.select-color span:hover {
    cursor: pointer;
    border: 4px solid #009dff
}


.color1 {
    background: #32552e;
}

.color2 {
    background: #43311a;
}

.color3 {
    background: #878787;
}

.color4 {
    background: #394458;
}

.color5 {
    background: #562525;
}

.color6 {
    background: #e6e6e6;
}
/* Størrelse og farve valg slutter */


form button {
    padding: 15px;
    margin-bottom: 35px;
    background-color: #94A195;
    color: #fff;
    font-size: 14px;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
    border: 0;
    outline: none;
}

.lægikurv {
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color: #202020;
    color: #ffffff;
    font-size: 14px;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    font-weight: 600;
    border: 1px solid black;
}

hr {
    color: #000;
    width: 100%;
    margin: 0%;
}

.logo3 {
    width: 15px;
    margin-right: 5px;
    margin-left: 2px;
} 

.logo4 {
    width: 40px;
    margin-right: 0px;
    align-items: center;
} 

.pris {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-style: normal;
    margin-bottom: 40px;
}

.tøjtitel {
    font-size: x-large;
    margin-bottom: 15px;
    color: #202020;
}

.moms {
    font-size: small;
    margin-bottom: 50px;
    color: #3c433d;
}

.spørgsmål {
    font-size: smaller;
}

.mobilepay {
    width: 70px;
    height: 70px;
    margin: -30px;
    margin-left: 25px;
}



/* Farve skifter med tekst og cirkel på farve starter her*/
.farvekode {
    position: relative;
    bottom: 23px;
}

.buksefarve {
    position: relative;
    margin-left: 80px;
    top: 133px;
}

.cirkel1 {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    top: 293px;
    left: 35px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.9), 0 6px 6x 0 rgba(0, 0, 0, 0.19);
}


.cirkel2 {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    top: 293px;
    left: 90px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.9), 0 6px 6x 0 rgba(0, 0, 0, 0.19);
}

.cirkel3 {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    top: 293px;
    left: 144px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.9), 0 6px 6x 0 rgba(0, 0, 0, 0.19);
}

.cirkel4 {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    top: 293px;
    left: 199px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.9), 0 6px 6x 0 rgba(0, 0, 0, 0.19);
}

.cirkel5 {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    top: 293px;
    left: 254px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.9), 0 6px 6x 0 rgba(0, 0, 0, 0.19);
}

.cirkel6 {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    top: 293px;
    left: 309px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    pointer-events: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.9), 0 6px 6x 0 rgba(0, 0, 0, 0.19);
}

/* Farve skifter med tekst og cirkel på farve slutter her*/






/* Information, vaskeanvisning osv styling starter */
.boldtext {
    font-weight: 600;
}

.lineheightext {
    line-height: 1,5;
    font-size: smaller;
}

.accordion {
    margin: 15px auto;
    width: 100%;
}

.accordion li {
    list-style: none;
    align-items: center;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
    background: white;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7)
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.accordion li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 18;
    font-weight: 300;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    color: black;
    padding: 0 10px;
    line-height: 24px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked + label + .content {
    max-height: 400px;
    padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
    content: '-';
}
/* Information, vaskeanvisning osv styling slutter */




/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -57px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev2, .next2 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: 50%;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 0%;
}

.next2 {
    right: 0;
    border-radius: 3px 0 0 3px;
  }