.tshirt {
    max-width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 0px;
   display: block;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: larger;
    font-family: "Inter";   
    padding-bottom: 5px;
}

h2 {
    font-size: small;
    padding-bottom: 15px;

}

h6 {
    font-size: small;
    padding-bottom: 15px;

}


.vælg-farve {
padding-bottom: 3px;
}

h3 {
    font-size: small;
}

    @font-face {
        font-family: "Inter";
        src: url(Fonts/Inter-Regular.ttf);
    }

.select-size span {
display: inline-block;
text-align: center;
width: 40px;
height: 40px;
line-height: 40px;
font-size: 14px;
border: 1px solid #1F2716;
border-radius: 10px;
margin: 1px 5px 5px;
}

.select-size span:hover {
    cursor: pointer;
    background: #1F2716;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #1F2716;
}

.select-color span {
    display: inline-block;
    margin: 10px 3px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    cursor: pointer; 
}

.select-color span:hover {
    cursor: pointer;
    border: 2px solid #94a195
}


.color1 {
    background: #d5aa76;
}

.color2 {
    background: #141414;
}

.color3 {
    background: #878787;
}

.color4 {
    background: #e6e6e6;
}

form button {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #94A195;
    color: #fff;
    font-size: 14px;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    border: 0;
    outline: none;
}

.lægikurv {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    align-items: center;
    border-radius: 25px;
    width: 100%;
    border: 1px solid black;
}

hr {
    color: #000;
    width: 100%;
    margin: 0%;
}

.pris {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(178, 0, 0);
    font-style: normal;
}

.tøjtitel {
    font-size: x-large;
}

.moms {
    font-size: small;
    margin-bottom: 50px;
}

.spørgsmål {
    font-size: smaller;
}

.mobilepay {
    width: 70px;
    height: 70px;
    margin: -30px;
    margin-left: 25px;
}


/* IMAGE SLIDER */
.container {
    ;
}

.container .wrapper {
    width: 93%;
    height: 400px;
    margin: 5rem auto;
    overflow: auto;
    
}

.container .wrapper-holder {
    display: grid;
    grid-template-columns: repeat(4, 100%);
    height: 100%;
    width: 100%;
    animation: slider 30s ease-in-out infinite
    alternate;
}

.container #slider-img-1 {
    background-image: url(img/Hoodies/beige\ 1.png);
    background-position: center;
    background-size: cover;
}

.container #slider-img-2 {
    background-image: url(img/Hoodies/beige\ 2.png);
    background-position: center;
    background-size: cover;
}

.container #slider-img-3 {
    background-image: url(img/Hoodies/beige\ 3.png);
    background-position: center;
    background-size: cover;
}

.container #slider-img-4 {
    background-image: url(img/green\ wood.png);
    background-position: center;
    background-size: cover;
}

.container .button-holder .button {
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    display: inline-block;
    margin: .3rem;
}

.container .button-holder {
    position: absolute;
    left: 45%;
    bottom: 0%;
}

@keyframes slider {
    0%{transform: translateX(0%);}
    10%{transform: translateX(-100%);}
    20%{transform: translateX(-100%);}
    30%{transform: translateX(-200%);}
    40%{transform: translateX(-200%);}
    50%{transform: translateX(-200%);}
    60%{transform: translateX(-300%);}
    70%{transform: translateX(-300%);}
    80%{transform: translateX(-300%);}
    90%{transform: translateX(0%);}
    100%{transform: translateX(0%);}
}

/* Billede slider styling slutter */