.tshirt {
    max-width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding-top: 0px;
   display: block;
}

main {
    padding-left: 30px;
    padding-top: 20px;
}

html, body {
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: larger;
    font-family: inter;   
    padding-bottom: 5px;
}

h2 {
    font-size: medium;
    padding-bottom: 15px;

}


.vælg-farve {
padding-bottom: 3px;
}

h3 {
    font-size: small;
    padding-bottom: 30px;
}

    @font-face {
        font-family: inter;
        src: url(Fonts/Inter-Regular.ttf);
    }

.select-size span {
display: inline-block;
text-align: center;
width: 40px;
height: 40px;
line-height: 40px;
font-size: 14px;
border: 1px solid #1F2716;
border-radius: 10px;
margin: 1px 5px 5px;
}

.select-size span:hover {
    cursor: pointer;
    background: #1F2716;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #1F2716;
}

.select-color span {
    display: inline-block;
    margin: 10px 3px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 30px;
    cursor: pointer; 
}

.select-color span:hover {
    cursor: pointer;
    border: 2px solid #94a195
}


.color1 {
    background: #1F2716;
}

.color2 {
    background: #141414;
}

.color3 {
    background: #878787;
}

.color4 {
    background: #e6e6e6;
}


form button {
    padding: 15px;
    margin-bottom: 20px;
    background-color: #94A195;
    color: #fff;
    font-size: 14px;
    align-items: center;
    border-radius: 25px;
    width: 93%;
    border: 0;
    outline: none;
}

.lægikurv {
    padding: 15px;
    margin-top: 30px;
    margin-bottom: 5px;
    background-color: #fff;
    color: #000;
    font-size: 14px;
    align-items: center;
    border-radius: 25px;
    width: 93%;
    border: 1px solid black;
}


hr {
    color: #000;
    width: 95%;
    margin: 0%;
}


p.info {
    margin-top: 30px;
    margin-bottom: 30px;
}


.accordion {
margin: 20px auto;
}

.accordion li {
    list-style: none;
    width: 90%;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), 
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.accordion li label {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    padding: 5px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
    }

    .accordion .first {
        color: #000;
        line-height: 26px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s, padding 0.5s;
    }

    .accordion input[type="radio"]:checked + label + .first {
        max-height: 400px;
        padding: 10px 10px 20px;
    }

    .accordion input[type="radio"]:checked + label::before {
        content:'-'; 
    }



.popup {
    width: 270px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #000;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.popup img {
    width: 100px;
    margin-top: -50%;
    border-radius: 5%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}


.popup button {
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 18px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    outline: none;
    color: #000;
    background: #878787;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.produkt {
    font-size: 23px;
    padding-top: 20px;
}

.farve {
    font-size: medium;
    padding: 0px;
}

h4 {
    font-size: small;
    padding-bottom: 10px;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(10)
}

